@import "tailwindcss";

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.figure {
    @apply text-center mx-auto h-[300px]
}
.figure-2{
    @apply text-center mx-auto h-[600px]
}
.f-t{
    @apply text-center;
}

html {
  scroll-behavior: smooth;
}


/* Erick layug(chapter 2) */

.c7body{
    @apply flex flex-wrap content-start flex-row bg-[#f5f5dd] min-h-screen overflow-x-hidden
}
.c7header{
    @apply fixed top-0 left-0 w-full flex flex-wrap items-center justify-between px-3 sm:px-6 md:px-10 lg:px-16 
         py-3 sm:py-4 md:py-5 shadow-sm shadow-black z-30 
        backdrop-blur-sm
}

.c7logo{
    @apply w-7 h-7 sm:w-9 sm:h-9 md:w-11 md:h-11 lg:w-12 lg:h-12 xl:w-14 xl:h-14 object-contain 
    transition-transform duration-300 hover:scale-110
}

.c7title{
    @apply text-base sm:text-lg md:text-2xl lg:text-3xl xl:text-4xl font-bold text-black whitespace-nowrap transition-transform duration-300 hover:scale-105
}

.c7chapter2{
    @apply list-none cursor-pointer select-none text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl font-bold text-black bg-[#c3b091] rounded-xl px-3 sm:px-4 md:px-5 py-1 sm:py-1.5 shadow-black shadow-sm whitespace-nowrap hover:bg-[#b89f7a] transition-all duration-300 hover:scale-105  
}

.c7ul{
    @apply absolute right-0 mt-2 bg-[#fdfaf3] rounded-lg shadow-md border border-gray-300 text-black tracking-widest font-medium group-open:block hidden min-w-56 sm:min-w-[16rem] md:min-w-[18rem] lg:min-w-[20rem] px-2 py-2 whitespace-nowrap overflow-hidden z-50
}

.c7list{
    @apply block px-4 py-2 hover:bg-[#c3b091] rounded-md text-sm
}

.c7h1{
    @apply mt-1 text-lg font-bold tracking-widest pt-15 sm:pt-20 md:pt-22 lg:pt-25 xl:pt-28 md:text-xl lg:text-2xl xl:text-3xl
}

.c7text{
    @apply tracking-widest p-3 indent-8 text-justify text-base md:text-lg lg:text-xl xl:text-2xl
}

.c7h12{
    @apply mt-1 text-lg font-bold tracking-widest pt-3 md:text-xl lg:text-2xl xl:text-3xl
}

.c7ol{
    @apply list-decimal list-inside space-y-2 text-justify text-base md:text-lg lg:text-xl xl:text-2xl
}

.c7img{
    @apply object-cover rounded-xl shadow-md shadow-gray-500 border border-[#b89f7a] transition-transform duration-500 ease-in-out hover:scale-110 hover:shadow-xl hover:shadow-[#b89f7a]
}

.c7icon{
    @apply w-7 h-7 sm:w-8 sm:h-8 md:w-9 md:h-9 lg:w-10 lg:h-10 xl:w-11 xl:h-11 transform transition-transform duration-300 hover:scale-125 hover:opacity-80
}

.c7footer{
    @apply w-full text-center py-4 text-gray-700 bg-[#C8AE7E]  mt-auto flex flex-col items-center space-y-3 sm:space-y-4 md:space-y-5
}

.c7footer2{
    @apply flex flex-wrap justify-center items-center gap-5 sm:gap-6 md:gap-8 lg:gap-10 xl:gap-12
}

.c7grid-sections {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-10 sm:gap-12 justify-items-center mt-10;
}

/* src emman */

.paragraph{
    @apply md:text-xl lg:text-xl xl:text-xl indent-5 p-2 
}